@media screen and (max-width: 1000px) {
  /******************************************************************
                     media query nav ki liye
*******************************************************************/
  .header {
    padding: 0 1rem;
    height: 7rem;
  }
  .nav-link {
    display: none;
  }
  .nav-link-i {
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
  }
  /* ***************SECTION KE LIYE****************/

  .section {
    padding-bottom: 0;
    /* margin-bottom: 0; */
    width: 100%;
    margin-bottom: 3.2rem;
  }
  .sec-left {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sec-left p {
    line-height: 3rem;
  }
  .sec-right {
    margin: 4.8rem auto 6.8rem auto;
    width: 100%;
  }

  .sec-right img {
    width: 75%;
  }

  .customers {
    margin-top: 4.8rem;
  }

  .customer-img img {
    height: 4rem;
    width: 4rem;
  }

  .customer-text {
    font-size: 1.4rem;
    font-weight: 600;
  }
  /* *************************************** */
  .HOW-IT-WORKS-HEADINGs {
    margin-top: 2.4rem;
  }
  .HOW-IT-WORKS-HEADINGs p {
    font-size: 4vw;
  }
  /* *************************************** */
  .work-sec {
    margin-top: 4rem;
  }

  .sec-1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec-1-left {
    width: 100%;
  }

  .sec-1-right {
    width: 100%;
    display: flex;
    align-items: first baseline;
  }

  .sec-1-right img {
    width: 30%;
    /* height: 100%; */
  }

  .sec-1 {
  }

}

@media screen and (max-width: 550px) {
  /***************************************
          HOW IT WORKS SECTION
******************************************/
}
